<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- RTMP配置 -->
    <rtmp>
        <url>rtmp://localhost:1935/live/stream1</url>
    </rtmp>
    
    <!-- 系统设置 -->
    <settings>
        <buffer_size>30</buffer_size>
        <fps>30</fps>
        <reconnect_delay>5</reconnect_delay>
        <timeout>10</timeout>
    </settings>
    
    <!-- 数据库配置 -->
    <database>
        <host>localhost</host>
        <port>3306</port>
        <user>root</user>
        <password>1353914278</password>
        <name>sewagewatch</name>
    </database>
    
    <!-- 历史记录配置 -->
    <history>
        <storage_path>../Vue/public/history</storage_path>
        <detect_types>
            <!-- 记录所有类型 -->
            <type>*</type>
            <type>bottle</type>
            <type>bird</type>
            <!-- 添加其他需要记录的类型 -->
        </detect_types>
    </history>
</config>